opendata/modules/fr.toulouse/resources/neptune_toulouse/neptune.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- ==========================================================================	-->
<!--  															-->
<!-- CERTU														-->
<!--  															-->
<!-- projet chouette : Schema XSD										-->
<!--  															-->
<!-- neptune.xsd : Description XML du profil NEPTUNE 						-->
<!--  															-->
<!-- Version : $Revision: 1.7 $										-->
<!--  															-->
<!-- ==========================================================================	-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.trident.org/schema/trident" 
xmlns:trd="http://www.trident.org/schema/trident" 
xmlns:siri="http://www.siri.org.uk/siri" 
xmlns:ifopt="http://www.ifopt.org.uk/acsb" 
targetNamespace="http://www.trident.org/schema/trident"
elementFormDefault="qualified" version="1.00">

	<xsd:annotation>
		<xsd:documentation xml:lang="en">
TRIDENT exchange schema.
Request / Answer schema
Copyright (c) 2001 TRIDENT consortium, All Rights Reserved.
		</xsd:documentation>
	</xsd:annotation>
	<!--.....Dépendance sur SIRI pour les équipements...-->
	<xsd:import namespace="http://www.ifopt.org.uk/acsb" 
	schemaLocation="./acsb/acsb_passengerMobility-v0.3.xsd"/>
	<xsd:import namespace="http://www.siri.org.uk/siri" 
	schemaLocation="./siri/siri_facilities-v1.2.xsd"/>
	<!--.....Inclusion des éléments TRIDENT nécessaires...-->
	
	<xsd:include schemaLocation="./trident/trident_Global_schema.xsd"/>
	<xsd:include schemaLocation="./trident/trident_Location_schema.xsd"/>
	<xsd:include schemaLocation="./trident/trident_PT_schema.xsd"/>
	<!-- **************************************************************** -->
	<xsd:complexType name="ITLType">
		<xsd:annotation>
			<xsd:documentation>Interdiction de trafic local</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="areaId" type="TridentIdType"/>
			<xsd:element name="lineIdShortCut" type="TridentIdType" minOccurs="0"/>
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TimeSlotType">
		<xsd:annotation>
			<xsd:documentation>Type pour les fréquences horaire</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TridentObjectType">
				<xsd:sequence>
					<xsd:element name="beginningSlotTime" type="xsd:time"/>
					<xsd:element name="endSlotTime" type="xsd:time"/>
					<xsd:element name="firstDepartureTimeInSlot" type="xsd:time"/>
					<xsd:element name="lastDepartureTimeInSlot" type="xsd:time"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RouteExtension">
		<xsd:annotation>
			<xsd:documentation>Extension d'itinéraire qui en précise le sens, aller ou retour</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="wayBack" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StopAreaExtension">
		<xsd:annotation>
			<xsd:documentation>Extension de zone d'arrêts qui précise notamment un code tarifaire et un identifiant fonctionnel</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="areaType" type="ChouetteAreaType"/>
			<xsd:element name="nearestTopicName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fareCode" type="xsd:int" minOccurs="0"/>
			<xsd:element name="registration" type="RegistrationType" minOccurs="0"/>
			<xsd:element name="mobilityRestrictedSuitability" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="accessibilitySuitabilityDetails" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:group ref="ifopt:UserNeedGroup"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="stairsAvailability" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="liftAvailability" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConnectionLinkExtensionType">
		<xsd:sequence>
			<xsd:element name="accessibilitySuitabilityDetails" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:group ref="ifopt:UserNeedGroup"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LineExtensionType">
		<xsd:annotation>
			<xsd:documentation>Extension de ligne pour l'accessibilité aux PMR</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="stableId" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifier of the line whose value will remain unchanged for the all line life time </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mobilityRestrictedSuitability" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="accessibilitySuitabilityDetails" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence maxOccurs="unbounded">
						<xsd:group ref="ifopt:UserNeedGroup"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChouetteFacilityType">
		<xsd:annotation>
			<xsd:documentation>Description des equipement situés dans les zones d'arrêt ou les vehicules (via la ligne)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TridentObjectType">
				<xsd:sequence>
					<xsd:element name="facilityLocation" minOccurs="0">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="longitude" type="trd:LongitudeType"/>
								<xsd:element name="latitude" type="trd:LatitudeType"/>
								<xsd:element name="longLatType" type="LongLatTypeType"/>
								<xsd:element name="address" type="trd:AddressType" minOccurs="0"/>
								<xsd:element name="projectedPoint" type="trd:ProjectedPointType" minOccurs="0"/>
								<xsd:element name="containedIn" type="trd:TridentIdType"/>
								<!-- REMARK : The IsContainedBy element refers to Area via Id -->
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:choice>
						<xsd:annotation>
							<xsd:documentation>The facility has to be attached to a StopAres (Quay, BoardingPosition or Stop Place), a line (meaning vehicles operating this line), a connection link or a Stop Point on Route (stopPoint))</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="stopAreaId" type="trd:TridentIdType"/>
						<xsd:element name="lineId" type="trd:TridentIdType"/>
						<xsd:element name="connectionLinkId" type="trd:TridentIdType"/>
						<xsd:element name="stopPointId" type="trd:TridentIdType"/>
					</xsd:choice>
					<xsd:element name="facilityFeature" type="siri:AllFacilitiesFeatureStructure" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Description of the feauture of the facility. Several features may be associated to a single facility.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Name of the facility</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="description" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Textual description of the facility</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="freeAccess" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Is the access restricted or authorised to everybody</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ChouettePTNetworkType">
		<xsd:annotation>
			<xsd:documentation>La strucutre d'échange d'une ligne de transport.
Cette strucuture contient la totalité des données qui décrivent la ligne.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PTNetwork" type="trd:PTNetworkType">
				<xsd:annotation>
					<xsd:documentation>Le réseau de la ligne</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GroupOfLine" type="GroupOfLineType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Groupe de ligne auquel appartient la ligne décrite</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Company" type="trd:CompanyType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>La compagnie de transport qui assure l'exploitation de la ligne.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ChouetteArea">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="StopArea" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>La liste des zones dons le type figure sur l'extension</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="StopAreaType">
										<xsd:sequence>
											<xsd:element name="StopAreaExtension" type="StopAreaExtension" minOccurs="0"/>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="AreaCentroid" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Liste de position géographiques</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="PlaceType"/>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ConnectionLink" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>La liste de toutes les correspondances sur la ligne.
Les correspondances relient un arrêt de la ligne avec un autre arrêt de cette même ligne ou d'une autre ligne.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="ConnectionLinkType">
							<xsd:sequence>
								<xsd:element name="ConnectionLinkExtension" type="ConnectionLinkExtensionType" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Timetable" type="TimetableType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>La liste des tableaux de marche.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TimeSlot" type="TimeSlotType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ChouetteLineDescription">
				<xsd:annotation>
					<xsd:documentation>Structure qui regroupe les autres données de la ligne.
</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Line">
							<xsd:annotation>
								<xsd:documentation>La ligne et ses références vers ses itinéraires et son réseau</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="LineType">
										<xsd:sequence>
											<xsd:element name="LineExtension" type="LineExtensionType" minOccurs="0"/>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ChouetteRoute" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>La liste de tous les itinéraires de la ligne.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="RouteType">
										<xsd:sequence>
											<xsd:element name="RouteExtension" type="RouteExtension" minOccurs="0"/>
										</xsd:sequence>
									</xsd:extension>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="StopPoint" minOccurs="2" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>La liste de tous les arrêts parcourus par les tronçons des itinéraires de ligne.

</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:complexContent>
									<xsd:extension base="StopPointType"/>
								</xsd:complexContent>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="ITL" type="ITLType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Liste des interdictions de trafic local auxquelles doivent se conformer les voyageurs de la ligne</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PtLink" type="PTLinkType" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>La liste de tous les tronçons des itinéraires de la ligne.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="JourneyPattern" type="JourneyPatternType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>La liste de toutes les missions des courses de la ligne.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="VehicleJourney" type="VehicleJourneyType" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>La liste de toutes les courses de la ligne qui sont effectives pour au moins l'un des tableaux de marche de la ligne.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Facility" type="ChouetteFacilityType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AccessPoint" type="PTAccessPointType" minOccurs="0" maxOccurs="unbounded"/>
						
			<xsd:element name="AccessLink" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>La liste de toutes les correspondances sur la ligne.
Les correspondances relient un arrêt de la ligne avec un autre arrêt de cette même ligne ou d'une autre ligne.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="PTAccessLinkType">
							<xsd:sequence>
								<xsd:element name="ConnectionLinkExtension" type="ConnectionLinkExtensionType" minOccurs="0"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Definition des instances -->
	<xsd:element name="ChouettePTNetwork" type="ChouettePTNetworkType">
		<xsd:keyref name="fk_stoppoint_journey" refer="pk_stoppoint">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:JourneyPattern/trd:stopPointList"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:keyref name="fk_route_journey" refer="pk_route">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:JourneyPattern/trd:routeId"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:keyref name="fk_journey_vehicle" refer="pk_journey_pattern">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:VehicleJourney/trd:journeyPatternId"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:key name="pk_journey_pattern">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:JourneyPattern"/>
			<xsd:field xpath="trd:objectId"/>
		</xsd:key>
		<xsd:keyref name="fk_vehicle_timetable" refer="pk_vehicle">
			<xsd:selector xpath=".//trd:Timetable/trd:vehicleJourneyId"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:keyref name="fk_vehicle_vehicleatstop" refer="pk_vehicle">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:VehicleJourney/trd:vehicleJourneyAtStop/trd:vehicleJourneyId"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:keyref name="fk_stoppoint_vehicleatstop" refer="pk_stoppoint">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:VehicleJourney/trd:vehicleJourneyAtStop/trd:stopPointId"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:keyref name="fk_route_vehicle" refer="pk_route">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:VehicleJourney/trd:routeId"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:keyref name="fk_stoppoint_ptlink" refer="pk_stoppoint">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:PtLink/trd:endOfLink|.//trd:ChouetteLineDescription/trd:PtLink/trd:startOfLink"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:key name="pk_vehicle">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:VehicleJourney"/>
			<xsd:field xpath="trd:objectId"/>
		</xsd:key>
		<xsd:key name="pk_stoppoint">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:StopPoint"/>
			<xsd:field xpath="trd:objectId"/>
		</xsd:key>
		<xsd:key name="pk_ptlink">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:PtLink"/>
			<xsd:field xpath="trd:objectId"/>
		</xsd:key>
		<xsd:keyref name="fk_stoparea_centroid" refer="pk_stoparea">
			<xsd:selector xpath=".//trd:ChouetteArea/trd:AreaCentroid/trd:containedIn"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:keyref name="fk_stoparea_stoppoint" refer="pk_stoparea">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:StopPoint/trd:containedIn"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:key name="pk_stoparea">
			<xsd:selector xpath=".//trd:ChouetteArea/trd:StopArea"/>
			<xsd:field xpath="trd:objectId"/>
		</xsd:key>
		<xsd:keyref name="fk_route_line" refer="pk_route">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:Line/trd:routeId"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
		<xsd:key name="pk_route">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:ChouetteRoute"/>
			<xsd:field xpath="trd:objectId"/>
		</xsd:key>
		<xsd:keyref name="fk_line_ptnetwork" refer="pk_line">
			<xsd:selector xpath=".//trd:PTNetwork"/>
			<xsd:field xpath="trd:lineId"/>
		</xsd:keyref>
		<xsd:key name="pk_line">
			<xsd:selector xpath=".//trd:ChouetteLineDescription/trd:Line"/>
			<xsd:field xpath="trd:objectId"/>
		</xsd:key>
		<xsd:key name="pk_centroid">
			<xsd:selector xpath=".//trd:ChouetteArea/trd:AreaCentroid"/>
			<xsd:field xpath="trd:objectId"/>
		</xsd:key>
		<xsd:keyref name="fk_centroid_stoparea" refer="pk_centroid">
			<xsd:selector xpath=".//trd:ChouetteArea/trd:StopArea/trd:centroidOfArea"/>
			<xsd:field xpath="."/>
		</xsd:keyref>
	</xsd:element>
	<xsd:simpleType name="ChouetteAreaType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Quay"/>
			<xsd:enumeration value="BoardingPosition"/>
			<xsd:enumeration value="CommercialStopPoint"/>
			<xsd:enumeration value="StopPlace"/>
			<xsd:enumeration value="ITL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ChouetteRemoveLineType">
		<xsd:sequence>
			<xsd:element name="Line" type="LineType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ChouetteRemoveLine" type="ChouetteRemoveLineType"/>
</xsd:schema>
