opendata/modules/fr.toulouse/resources/neptune_toulouse/trident/trident_PT_schema.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by christophe duquesne (Dryade SARL) -->
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by Christophe Duquesne (Dryade) -->
<!--  File: trident_PT_schema.xsd  -->
<xsd:schema 
	xmlns:trd="http://www.trident.org/schema/trident" 
	xmlns="http://www.trident.org/schema/trident" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.trident.org/schema/trident" 
	elementFormDefault="qualified" version="2.0">
	<xsd:annotation>
		<xsd:appinfo>trident.xsd v1.00 2002-10</xsd:appinfo>
		<xsd:documentation xml:lang="en">
TRIDENT exchange schema. 
PT Network Description
Copyright (c) 2001 TRIDENT consortium, All Rights Reserved.
		</xsd:documentation>
	</xsd:annotation>
	<!--  included files (if any) -->
	<xsd:include schemaLocation="trident_Global_schema.xsd"/>
	<!-- ==============================================================
     object declarations
     ============================================================== -->
	<xsd:simpleType name="PTConnectionLinkTypeType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
		Enumeration containing all the possible type of non PT access link
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Underground"/>
			<xsd:enumeration value="Mixed"/>
			<xsd:enumeration value="Overground"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--PT NETWORK ===================================================== -->
	<!-- Stop Point,PTLink, PTAccessLink and AccessPoint are defined in Location -->
	<!-- PTLink is defined in Location -->
	<xsd:complexType name="StopAreaType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
		A PT area made up of a set of PT Stop Points
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:AreaType">
				<xsd:sequence>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RouteType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
		An ordered list of Stop Points on wich Journey 
		pattern are applied
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TridentObjectType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="publishedName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="number" type="xsd:string" minOccurs="0"/>
					<xsd:element name="direction" type="trd:PTDirectionType" minOccurs="0"/>
					<xsd:element name="ptLinkId" type="trd:TridentIdType" maxOccurs="unbounded"/>
					<xsd:element name="journeyPatternId" type="trd:TridentIdType" maxOccurs="unbounded"/>
					<xsd:element name="wayBackRouteId" type="trd:TridentIdType" minOccurs="0"/>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LineType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
A line is a set of Route _.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:LogicalLocationType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="number" type="xsd:string" minOccurs="0"/>
					<xsd:element name="publishedName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="transportModeName" type="trd:TransportModeNameType" minOccurs="0"/>
					<xsd:element name="lineEnd" type="trd:TridentIdType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="routeId" type="trd:TridentIdType" maxOccurs="unbounded"/>
					<xsd:element name="registration" type="trd:RegistrationType" minOccurs="0"/>
					<xsd:element name="ptNetworkIdShortcut" type="trd:TridentIdType" minOccurs="0"/>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GroupOfLineType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
A set of lines
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TridentObjectType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="lineId" type="trd:TridentIdType" maxOccurs="unbounded"/>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="JourneyPatternType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
		Basically, JourneyPattern are some ordered list of 
Stop Points, but these StopPoints have to be linked 
together (by couples)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TridentObjectType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" minOccurs="0"/>
					<xsd:element name="publishedName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="routeId" type="trd:TridentIdType"/>
					<xsd:element name="origin" type="trd:TridentIdType" minOccurs="0"/>
					<xsd:element name="destination" type="trd:TridentIdType" minOccurs="0"/>
					<xsd:element name="stopPointList" type="trd:TridentIdType" minOccurs="2" maxOccurs="unbounded"/>
					<xsd:element name="registration" type="trd:RegistrationType" minOccurs="0"/>
					<xsd:element name="lineIdShortcut" type="trd:TridentIdType" minOccurs="0"/>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
					<!-- REMARK : The 3 following elements refers to StopPoints -->
					<!-- The following field is not in the DM, it is only here to help to navigate in the data -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleJourneyAtStopType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Passing time on a stop point
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="stopPointId" type="trd:TridentIdType"/>
			<xsd:element name="vehicleJourneyId" type="trd:TridentIdType" minOccurs="0"/>
			<xsd:element name="connectingServiceId" type="trd:TridentIdType" minOccurs="0"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="arrivalTime" type="xsd:time" minOccurs="0"/>
					<xsd:element name="departureTime" type="xsd:time"/>
					<xsd:element name="waitingTime" type="xsd:time" minOccurs="0"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="elapseDuration" type="xsd:duration"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:element name="headwayFrequency" type="xsd:duration" minOccurs="0"/>
			<xsd:element name="boardingAlightingPossibility" type="trd:BoardingAlightingPossibilityType" minOccurs="0"/>
			<xsd:element name="order" type="xsd:positiveInteger" minOccurs="0"/>
			<!-- REMARK : The name is Frequency, but in fact it's a period -->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VehicleJourneyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Instance of a Journey Pattern
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TridentObjectType">
				<xsd:sequence>
					<xsd:element name="routeId" type="trd:TridentIdType"/>
					<xsd:element name="journeyPatternId" type="trd:TridentIdType" minOccurs="0"/>
					<xsd:element name="publishedJourneyName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="publishedJourneyIdentifier" type="xsd:string" minOccurs="0"/>
					<xsd:element name="transportMode" type="trd:TransportModeNameType" minOccurs="0"/>
					<xsd:element name="vehicleTypeIdentifier" type="xsd:string" minOccurs="0"/>
					<xsd:element name="statusValue" type="ServiceStatusValueType" minOccurs="0"/>
					<xsd:element name="lineIdShortcut" type="trd:TridentIdType" minOccurs="0"/>
					<xsd:element name="routeIdShortcut" type="trd:TridentIdType" minOccurs="0"/>
					<xsd:element name="operatorId" type="trd:TridentIdType" minOccurs="0"/>
					<xsd:element name="facility" type="xsd:string" minOccurs="0"/>
					<xsd:element name="number" type="xsd:integer" minOccurs="0"/>
					<xsd:element name="vehicleJourneyAtStop" type="trd:VehicleJourneyAtStopType" minOccurs="2" maxOccurs="unbounded"/>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
					<!-- REMARK : As the vehicle Type enumeration is not yet defined in the DD, 
		  I used a string instead -->
					<xsd:element name="timeSlotId" type="trd:TridentIdType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PeriodType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Period during which a Vehicle Journey is applicable
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="startOfPeriod" type="xsd:date"/>
			<xsd:element name="endOfPeriod" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConnectingServiceType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Connecting service description
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TridentObjectType">
				<xsd:sequence>
					<xsd:element name="minimumConnectingTime" type="xsd:duration"/>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CompanyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
PT Operator description
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TridentObjectType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="shortName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="organisationalUnit" type="xsd:string" minOccurs="0"/>
					<xsd:element name="operatingDepartmentName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="phone" type="xsd:string" minOccurs="0"/>
					<xsd:element name="fax" type="xsd:string" minOccurs="0"/>
					<xsd:element name="email" type="xsd:string" minOccurs="0"/>
					<xsd:element name="registration" type="trd:RegistrationType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TimetableType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
TimeTable informations (merge of LineTimeTable and PointTimeTable)
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TridentObjectType">
				<xsd:sequence>
					<xsd:element name="version" type="xsd:string" minOccurs="0"/>
					<xsd:element name="period" type="trd:PeriodType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="calendarDay" type="xsd:date" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="dayType" type="trd:DayTypeType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="vehicleJourneyId" type="trd:TridentIdType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PTNetworkType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
PT Network description, and link to all the entry point
for this network in the Data Model.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TransportNetworkType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="registration" type="trd:RegistrationType" minOccurs="0"/>
					<xsd:element name="sourceName" type="xsd:string" minOccurs="0"/>
					<xsd:element name="sourceIdentifier" type="xsd:string" minOccurs="0"/>
					<xsd:element name="sourceType" type="trd:SourceTypeType" minOccurs="0"/>
					<xsd:element name="lineId" type="trd:TridentIdType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="comment" type="xsd:string" minOccurs="0"/>
					<!--Exensions to the DM 1.3 -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RoadNetworkType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
PT Network description, and link to all the entry point
for this network in the Data Model.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:TransportNetworkType">
				<xsd:sequence>
					<xsd:element name="Name" type="xsd:string"/>
					<xsd:element name="JunctionId" type="trd:TridentIdType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="RoadElementId" type="trd:TridentIdType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Comment" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransportNetworkType" abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
PT Network description, can be for Public Transport or Road Network.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="trd:LogicalLocationType">
				<xsd:sequence>
					<xsd:element name="versionDate" type="xsd:date"/>
					<xsd:element name="description" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--PT Status ===================================================== -->
	<xsd:complexType name="RegistrationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
Registration informations
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="registrationNumber" type="xsd:string"/>
			<!-- REMARK: ApplicationType is said to be an enumeration, but the enumerated list is not in the DD
      therfore, ApplicationType is mapped to a string  -->
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
